{%extends "base.html"%}

{%block title%} Login Page {%endblock%}

{%block content%}
  {%with messages = get_flashed_messages()%}
  {%if messages%}
    {%for msg in messages%}
    <p>{{msg}}</p>
    {%endfor%}
    {%endif%}
  {%endwith%}
  <!--
<form action = "#" method = "post">
  <p>Name:</p>
  <p><input type = "text" name = "nm"/></p>
  <p><input type = "submit" value = "submit"/></p>

</form>
-->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">

      <img src="../static/images/penishole.ico" id="icon" alt="User Icon" />

<!--
      <span class='icon'></span>
      -->
    </div>

    <!-- Login Form -->
    <form action = "#" method = "post">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
{%endblock%}
