{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li class = "active"><a href="inventory">Inventory</a></li>
<li><a href="users">Users</a></li>
<li><a href="orders">Orders</a></li>
{% endblock %}

{% block content %}
    <h4>Add/Edit Items</h4><br>
    <form action = "#" method = "post">
        <label>Item:</label>
        <input type = "text" name = "Item" size = "25" placeholder = "Item Name" required><br><br>
        <label>Amount:</label>
        <input type = "number" name = "Amount" min = "1" placeholder = "Amount"><br><br>

        <label>Category (check all that apply)</label>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Grain"/>
              <span>Grain</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Produce"/>
              <span>Produce</span>
            </label>
        </p>
        <p>
            <label>
                <input type = "checkbox" class = "filled-in" name = "Dairy"/>
                <span>Dairy</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Snacks"/>
              <span>Snacks</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Vegan"/>
              <span>Vegan</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Vegetarian"/>
              <span>Vegetarian</span>
            </label>
        </p>
        
        <input type = "submit" name = "Submit">
    </form><br><br>

    <div class="divider"></div>

    <div class = "section">
        <div class = "row">
            <div class = "col s3">
                <h4>Inventory</h4>
            </div></br>
            <!-- HEELLLLPPPP DUNNO HOW TO MAKE THIS WORK -->
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn-small col s2 offset-s7' href='#' data-target='dropdown1'>Filter By:</a>
        </div>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">Grain</a></li>
            <li><a href="#!">Produce</a></li>
            <li><a href="#!">Dairy</a></li>
            <li><a href="#!">Snacks</a></li>
            <li><a href="#!">Vegan</a></li>
            <li><a href="#!">Vegetarian</a></li>
        </ul>


        <table class = "striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in values %}
                    <tr>
                        <td>{{item.name}}</td>
                        <!-- Add feature to add/subtract items from inventory here -->
                        <td>{{item.amount}}</td>
                        <!-- Maybe use a javascript function triggered by onmousedown here? -->
                        <td><a>Edit</a></td>
                        <td><a>Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
