{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block nav_content %}
<li><a href="/">Home</a></li>
<li class = "active"><a href="{{url_for('inventory')}}">Inventory</a></li>
<li><a href="{{url_for('users')}}">Users</a></li>
<li><a href="orders">Orders</a></li>
{% endblock %}

{% block content %}
    <div class="row section">
        <div class="col s3">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">Add/Edit Items</div>
                    <div class="collapsible-body"><span>
                        <form action = "#" method = "post">
                            <div class="input-field">
                                <input id="itemName" type="text" class="validate" name="Item" required>
                                <label for="itemName">Item Name</label>
                            </div>
                            <div class="input-field">
                                <label>Amount:</label>
                                <input type = "number" name = "Amount" min = "0"><br><br>
                            </div>
                    
                            <label>Category (check all that apply)</label>
                            {% for cat in catList %}
                                <p>
                                    <label>
                                    <input type="checkbox" class="filled-in" name={{cat.id}} />
                                    <span>{{cat.name}}</span>
                                    </label>
                                </p>
                            {% endfor %}

                            <div class="input-field">
                                <textarea id="note" class="materialize-textarea" name="Note"></textarea>
                                <label for="note">Notes</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="Submit">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </span></div>
                </li>
                <li>
                    <div class="collapsible-header">Add New Category</div>
                    <div class="collapsible-body"><span>
                        <form action = "#" method = "post">
                            <div class="input-field">
                                <input id="categoryName" type="text" class="validate" name="Category" required>
                                <label for="categoryName">Category Name</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="addCategory">Go</button>
                        </form>
                    </span></div>
                </li>
                <li>
                    <div class="collapsible-header">Remove Category</div>
                    <div class="collapsible-body"><span>
                        <form action = "#" method = "post">
                            {% for cat in catList %}
                                <p>
                                    <label>
                                    <input type="checkbox" class="filled-in" name={{cat.id}} />
                                    <span>{{cat.name}}</span>
                                    </label>
                                </p>
                            {% endfor %}
                            <button class="btn waves-effect waves-light" type="submit" name="removeCategory">Go</button>
                        </form>
                    </span></div>
                </li>
                <li>
                    <div class="collapsible-header">Filter By:</div>
                    <div class="collapsible-body"><span>
                        <form action = "#" method = "post">
                            {% for cat in catList %}
                                <p>
                                    <label>
                                    <input type="checkbox" class="filled-in" name={{cat.id}} />
                                    <span>{{cat.name}}</span>
                                    </label>
                                </p>
                            {% endfor %}
                            <button class="btn waves-effect waves-light" type="submit" name="filterBy">Go</button>
                        </form>
                    </span></div>
                </li>
            </ul><br>

        </div>
        
        <!-- INVENTORY TABLE -->
        <div class = "col s9">

            <h4>Inventory</h4>

            <table class = "striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in values %}
                        <!-- Check if someone has clicked the edit button before, 
                            make a specific row editable by passing in item id and checking each one for a match -->
                        {% if item.id == editItemID %}
                            <div id="scrollTo">
                                <tr>
                                    <form action="#" method="post">
                                        <td>
                                            <input type="text" name="newName" placeholder={{item.name}} required>
                                        </td>
                                        <td>
                                            <input type="number" name="newAmount" placeholder={{item.amount}} min="0" required>
                                        </td>
                                        <td>
                                            <button type="submit" class="waves-effect waves-light btn-small" formmethod="post" formaction="#" name="editedItemID" value={{item.id}}>Save</button>
                                        </td>
                                    </form>
                                </tr>
                            </div>
                        {% else %}
                            <!-- Row is light red if there are <= 5 items -->
                            {% if item.amount <= 5 %}
                                <tr class="red lighten-5">
                                    <td>{{item.name}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>
                                        {% if item.note != "" %}
                                            <!-- Modal Trigger -->
                                            <a class="waves-effect waves-light btn modal-trigger" href="#{{item.id}}">Note</a>
                                            <!-- Modal Structure -->
                                            <div id="{{item.id}}" class="modal">
                                                <div class="modal-content">
                                                    <h4>Note:</h4>
                                                    <p>{{item.note}}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#!" class="modal-close btn-flat">Close</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="#" method="post">
                                            <button type="submit" class="waves-effect waves-teal btn-flat" formmethod="post" formaction="#" name="editItemID" value={{item.id}}>Edit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="#" method="post">
                                            <button type="submit" class="waves-effect waves-teal btn-flat" formmethod="post" formaction="#" name="removeItemID" value={{item.id}}>Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>
                                        {% if item.note != "" %}
                                            <!-- Modal Trigger -->
                                            <a class="waves-effect waves-light btn modal-trigger" href="#{{item.id}}">Note</a>
                                            <!-- Modal Structure -->
                                            <div id="{{item.id}}" class="modal">
                                                <div class="modal-content">
                                                    <h4>Note:</h4>
                                                    <p>{{item.note}}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#!" class="modal-close btn-flat">Close</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="#" method="post">
                                            <button type="submit" class="waves-effect waves-teal btn-flat" formmethod="post" formaction="#" name="editItemID" value={{item.id}}>Edit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="#" method="post">
                                            <button type="submit" class="waves-effect waves-teal btn-flat" formmethod="post" formaction="#" name="removeItemID" value={{item.id}}>Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        
                    {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
