{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li class = "active"><a href="inventory">Inventory</a></li>
{% endblock %}

{% block content %}
    <h4>Add/Edit Items</h4><br>
    <form action = "#" method = "post">
        <label>Item:</label>
        <input type = "text" name = "Item" size = "25" placeholder = "Item Name"><br><br>
        <label>Amount:</label>
        <input type = "number" name = "Amount" min = "1" max = 100><br><br>

        <label>Category (check all that apply)</label>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Grain"/>
              <span>Grain</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Produce"/>
              <span>Produce</span>
            </label>
        </p>
        <p>
            <label>
                <input type = "checkbox" class = "filled-in" name = "Dairy"/>
                <span>Dairy</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Snacks"/>
              <span>Snacks</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Vegan"/>
              <span>Vegan</span>
            </label>
        </p>
        <p>
            <label>
              <input type="checkbox" class="filled-in" name = "Vegetarian"/>
              <span>Vegetarian</span>
            </label>
        </p>
        
        <input type = "submit" name = "Submit">
    </form><br><br>

    <div class="divider"></div>

    <div class = "section">
        <div class = "row">
            <div class = "col s3">
                <h4>Inventory</h4>
            </div></br>
            <div class = "col s3 offset-s6">
                <!-- Dropdown Structure -->
                <ul id="dropdown" class="dropdown-content">
                    <li><a href="{{url_for('inventory', sortBy='amount')}}">All</a></li>
                    <li><a href="{{url_for('inventory', sortBy='grain')}}">Grain</a></li>
                    <li><a href="{{url_for('inventory', sortBy='produce')}}">Produce</a></li>
                    <li><a href="{{url_for('inventory', sortBy='dairy')}}">Dairy</a></li>
                    <li><a href="{{url_for('inventory', sortBy='snacks')}}">Snacks</a></li>
                    <li><a href="{{url_for('inventory', sortBy='vegan')}}">Vegan</a></li>
                    <li><a href="{{url_for('inventory', sortBy='vegetarian')}}">Vegetarian</a></li>
                </ul>
                <!-- Dropdown Trigger -->
                <a class="dropdown-button btn" href="#" data-activates="dropdown">Filter By:</a>
            </div>
        </div>

        <table class = "striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in values %}
                    <tr>
                        <td>{{item.name}}</td>
                        <!-- Add feature to add/subtract items from inventory here -->
                        <td>{{item.amount}}</td>
                        <td><a class="waves-effect waves-teal btn-flat">Edit</a></td>
                        <td>
                            <form action="#" method="post">
                                <button type="submit" class="waves-effect waves-teal btn-flat" formmethod="post" formaction="#" name="itemID" value={{item._id}}>Remove</button>
                            </form>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
